<!-- Dashboard (pentru admin) asta ramane -->
<div *ngIf="isAdmin" class="page-view">
  <mat-card *ngFor="let product of products" class="card-item-horizontal">
    <img [src]="product.image1" class="image"/>
    <mat-card-content>
      <p class="p-title">{{ product.name | titlecase }} </p>
      <p class="p-description">Description: {{ product.description }}</p>
      <p>Product Type: {{ product.productType | titlecase }}</p>
      <p>Price:<span class="p-price">{{ product.price }} EURO</span></p>
      <div class="div-admin-controls">
        <button mat-raised-button color="primary" class="btn-action" (click)="onEdit(product)">Edit</button>
        <div style="height: 16px"></div>
        <button mat-raised-button color="accent" class="btn-action" (click)="onDelete(product)">Delete</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!--&lt;!&ndash; Homepage (pentru utilizatori) asta ramane &ndash;&gt;-->
<!--<div *ngIf="!isAdmin">-->
<!--  <div  class="horizontal-view">-->
<!--    <div class="product-container" [style.transform]="getTransform()">-->
<!--      <mat-card *ngFor="let product of getVisibleProducts()" class="card-item-horizontal">-->
<!--        <img [src]="product.image1" class="image"/>-->
<!--        <mat-card-content>-->
<!--          <p class="p-title">{{ product.name | titlecase }} </p>-->
<!--          <p class="p-description">Description: {{ product.description }}</p>-->
<!--          <p>Product Type: {{ product.productType | titlecase }}</p>-->
<!--          <p>Price:<span class="p-price">{{ product.price }} EURO</span></p>-->
<!--          <div class="div-controls">-->
<!--            <button mat-raised-button color="primary" class="btn-buy" (click)="onBuy(product)">Buy now!</button>-->
<!--          </div>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="navigation-buttons">-->
<!--    <button class="nav-button left" (click)="prev()" [disabled]="currentIndex === 0">&#9664;</button>-->
<!--    <button class="nav-button right" (click)="next()">&#9654;</button>-->
<!--  </div>-->
<!--</div>-->


<div *ngIf="!isAdmin" class="horizontal-view">
  <div class="product-container" [style.transform]="transitioning ? 'translateX(-' + (currentIndex * 100) + '%)' : 'none'">
    <mat-card *ngFor="let product of getVisibleProducts()" class="card-item-horizontal">
      <img [src]="product.image1" class="image"/>
      <mat-card-content>
        <p class="p-title">{{ product.name | titlecase }} </p>
        <p class="p-description">Description: {{ product.description }}</p>
        <p>Product Type: {{ product.productType | titlecase }}</p>
        <p>Price:<span class="p-price">{{ product.price }} EURO</span></p>
        <div class="div-controls">
          <button mat-raised-button color="primary" class="btn-buy" (click)="onBuy(product)">Buy now!</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="navigation-buttons">
  <button class="nav-button left" (click)="prev()" [disabled]="currentIndex === 0">&#9664;</button>
  <button class="nav-button right" (click)="next()">&#9654;</button>
</div>

<!--<div class="navigation-buttons" [ngClass]="{'slide-left-right': isSlidingLeft, 'slide-right-left': isSlidingRight}">-->
<!--  <button class="nav-button left"  (click)="slideLeft()" [disabled]="currentIndex === 0">&#9664;</button>-->
<!--  <button class="nav-button right" (click)="slideRight()">&#9654;</button>-->

<!--</div>-->

